* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    width: 100%;
}

.infocard-section {
    height: 577px;
}

.infocard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
}

.infocard-item {
    text-align: center;
    margin-bottom: 66px;
}

.item-text {
    width: 776px;
    height: 56px;
}

.top-infocard-subtitle {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80px;
    margin-bottom: -35px;
}

.top-infocard-title {
    text-transform: uppercase;
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 80px;
}

.top-infocard-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.infocard-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
}

.infocard-image {
    margin-top: 65px;
}

.top-cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    padding: 186px 0px 80px;
}

.top-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    padding: 26px 26px 34px;
}

.card-image {
    display: block;
    margin-bottom: 30px;
}

.card-text {
    width: 300px;
    height: 95px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.middle-rectangle-container {
    position: absolute;
    width: 100%;
    height: 422px;
    background-color: #E0E0E0;
    z-index: -1;
}

.middle-images-container {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, max-content);
    padding: 63px 94px 138px;
    justify-content: center;
}

.middle-image-1,
.middle-image-2,
.middle-image-3 {
    display: block;
    width: 556px;
    height: 520px;
}

.middle-image-3-mobile {
    display: none;
}

.middle-cards-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    padding: 0px 0px 80px;
}

.middle-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    padding: 44px 32px 66px;
}

.middle-card-image {
    display: block;
    margin-bottom: 22px;
}

.middle-card-text {
    width: 366px;
    height: 112px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.bottom-infocard-item {
    display: flex;
    justify-content: center;
}

.bottom-infocard-text-item {
    text-align: center;
    width: 550px;
    height: 120px;
}

.bottom-infocard-image-mobile {
    display: none;
    width: 414px;
    height: 414px;
}

.bottom-inforcard-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
}

.bottom-infocard-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 18px 0 32px;
}

.bottom-infocard-item-web {
    margin-top: 32px;
}

.bottom-infocard-image-web {
    display: block;
    width: 1360px;
    height: 276px;
    padding: 32px 280px 104px;
}

.page-footer {
    background: #000000;
    padding: 38px 0;
}

.footer-icons-item {
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: center;
}

.icons-image {
    display: block;
}

.footer-text-item {
    display: flex;
    justify-content: center;
}

.footer-paragraph {
    padding: 17px 0 0;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}

@media screen and (max-width: 414px) {
    .main-banner-desktop {
        display: none;
    }

    .infocard-item {
        text-align: center;
    }

    .item-text {
        width: 357px;
        height: 115px;
    }

    .top-infocard-subtitle {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 80px;
        margin-bottom: -47px;
    }

    .top-infocard-title {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 80px;
    }

    .top-infocard-paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .top-cards-container {
        grid-template-columns: max-content;
        padding: 186px 32px 80px;
    }

    .middle-rectangle-container {
        height: 484px;
        width: 414px;
    }

    .middle-images-container {
        grid-template-columns: repeat(2, max-content);
        gap: 14px;
        padding: 32px 24px 0px;
    }

    .middle-image-1,
    .middle-image-2 {
        width: 168px;
        height: 170px;
    }

    .middle-image-3 {
        display: none;
    }

    .middle-image-container-mobile{
        display: flex;
        justify-content: center;
        padding: 24px 24px 80px;
    }

    .middle-image-3-mobile {
        display: block;
        width: 352px;
        height: 362px;
    }

    .middle-cards-container {
        grid-template-columns: max-content;
    }

    .middle-card-text {
        width: 302px;
        height: 113px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .bottom-infocard-container {
        height: 800px;
    }

    .bottom-infocard-image-web {
        display: none;
    }

    .bottom-infocard-image-mobile {
        padding: 0px 0px 50px;
    }

    .bottom-infocard-image-mobile {
        display: block;
        width: 414px;
        height: 414px;
    }

    .footer-paragraph {
        width: 261px;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
    }

}

@media screen and (min-width: 415px) {
    .main-banner-mobile {
        display: none;
    }

}